/Java/Leccion6/Interfaces/nbproject/private/
/Java/Leccion7/JavaBeans/nbproject/private/
/Java/Leccion8/ManejoExcepciones1/nbproject/private/
/Java/Leccion8/ManejoExcepciones1/build/
Python/laboratorioIII-python/Clase-5/actualizar_registro.py
Python/laboratorioIII-python/Clase-5/actualizar_registro.py
Python/laboratorioIII-python/Clase-5/v_i_registros.py
Python/laboratorioIII-python/Clase-5/v_registros.py
Python/laboratorioIII-python/Clase-6/prueba_bd.py
